@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,500,500i,600,600i,700,700i|Noto+Sans:400,400i,700,700i);
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
}
header .background {
  height: 100%;
  width: 100%;
}
header .title {
  position: absolute;
  color: white;
  font-size: 60px;
  font-family: "Archivo Narrow";
  top: 50%;
  left: 45%;
}
header .top_left_logo_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 26px;
  left: 0;
  width: 29%;
  height: 150px;
}
header .top_left_logo_container .insa_logo {
  height: 75px;
}
header .top_left_logo_container .lion_logo {
  height: 100px;
}
header .account {
  position: absolute;
  top: 75px;
  right: 300px;
  color: white;
  width: 9%;
}
header .account a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}
header .top_right_logo {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 75px;
  right: 0;
  width: 15%;
  color: white;
}
header .top_right_logo a {
  text-decoration: none;
  color: white;
}
header .header_left_poly {
  position: absolute;
  top: 0;
  left: 0;
  height: 379px;
  width: 833px;
  background-color: #e6e6e6;
  -webkit-clip-path: polygon(0 38%, 0 100%, 71% 100%);
          clip-path: polygon(0 38%, 0 100%, 71% 100%);
}
header .header_right_poly {
  position: absolute;
  top: 0;
  right: 0;
  height: 379px;
  width: 1010px;
  -webkit-clip-path: polygon(100% 39%, 0 100%, 100% 100%);
          clip-path: polygon(100% 39%, 0 100%, 100% 100%);
  background-color: #e52111;
}

body {
  background-color: white;
}
