// @import "./fonts.scss";

header {
    position: relative;
    .background {
        height: 100%;
        width: 100%;
    }
    .title {
        position: absolute;
        color: white;
        font-size: 60px;
        font-family: $main_font;
        top: 50%;
        left: 45%;
    }
    .top_left_logo_container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 26px;
        left: 0;
        width: 29%;
        height: 150px;
        .insa_logo {
            height: 75px;
        }
        .lion_logo {
             height: 100px;
        }
    }
    .account {
        position: absolute;
        top: 75px;
        right: 300px;
        color: rgb(255, 255, 255);
        width: 9%;
        a {
            margin-left: 20px;
            text-decoration: none;
            color:rgb(255, 255, 255)
        }
    }
    .top_right_logo {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        top: 75px;
        right: 0;
        width: 15%;
        color:rgb(255, 255, 255);
        a {
            text-decoration: none;
            color:rgb(255, 255, 255)
        }  
    }
    .header_left_poly {
        position: absolute;
        top: 0;
        left: 0;
        height: 379px;
        width: 833px;
        background-color: rgb(230, 230, 230);
        clip-path: polygon(0 38%, 0 100%, 71% 100%);
    }
    .header_right_poly {
        position: absolute;
        top: 0;
        right: 0;
        height: 379px;
        width: 1010px;
        clip-path: polygon(100% 39%, 0 100%, 100% 100%);
        background-color: $red-color;
    }
}
